click == 8.0
spacy-streamlit>=1.0.0a0
spacy-alignments 
spacy-transformers 
spacy
fastapi>=0.65.2
aiofiles
uvicorn>=0.11.6,<0.12.0
doccano-client
pandas==1.3.4
pydantic==1.8.2 
sacremoses 
transformers==4.17.0 
tokenizers 
flask_restx 
torch
pymysql
dbutils
tqdm
redis
pdfminer3k
python-docx
skimage